* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
}

/* Card */
.car-card {
    margin: 20px;
    position: relative;
    background: #f2f2f2;
    width: 100%;
    max-width: 2100px;
    display: flex;
    gap: 40px;
    padding: 30px;
    border-radius: 15px;
    align-items: center;
}

.image{
    display: flex;

}

.available-badge {
    position: absolute;
    top: 40px;
    left: 42px;
    background: green;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}


.car-card img {
   height: 400px;
    width: 350px;
    border-radius: 15px;
    object-fit: cover;
}



.car-details {
    flex: 1;
}

.car-details h2 {
    font-size: 40px;
    font-weight: 800;
}

.car-details h2 span {
    font-size: 20px;
    font-weight: 500;
}

.car-details h3 {
    margin: 10px 0;
}

.car-details h4,
.car-details h5 {
    margin: 5px 0;
}

.car-details h6 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #111;
}

.colors {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.red { background: red; }
.blue { background: blue; }
.silver { background: silver; }

.extra-info {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.pros p,
.cons p {
    font-size: 13px;
    margin-bottom: 6px;
}

.pros p::before {
    content: "✔ ";
    color: green;
}

.cons p::before {
    content: "✖ ";
    color: red;
}